    <section id=" " class="ccr-sports-gallery">
        <div class="ccr-gallery-ttile">
                <span></span> 
                <p>12 CHÒM SAO</p>
        </div> <!-- .ccr-gallery-ttile -->
        {{#get "posts" limit="1" include="author,tags" filter="tags.slug:'mat-ngu-12-chom-sao'" order="updated_at desc"}}
            {{#foreach posts}}
                {{> "featuredMain"}}
            {{/foreach}}
        {{/get}}
        

        <ul>
            {{#get "posts" limit="7" include="author,tags" filter="tags.slug:'mat-ngu-12-chom-sao'" order="updated_at desc"}}
                {{#foreach posts}}

                {{^if @first}}
                    {{> "featuredItem"}}                    
                {{/if}}
                {{/foreach}}
            {{/get}}
            
            
        </ul>                   
    
    </section> <!-- /#  -->