<section id="sidebar-popular-post">
                <div class="ccr-gallery-ttile">
                    <span></span> 
                    <p><strong>TIN HOT</strong></p>
                </div> <!-- .ccr-gallery-ttile -->
                <ul>
                {{#get "posts" limit="5" include="author,tags" filter="featured:true" order="updated_at desc"}}
                    {{#foreach posts}}
                    <li>
                        <div class="sidebar-image">
                        <img src="{{image}}" alt="{{{title}}}">
                        </div>
                        <a href="{{url}}">{{{title}}}</a>
                        <!--div class="date-like-comment">
                            <span class="date"><time datetime="2014-02-17">2014-02-17</time></span>
                            <a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
                            <a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
                        </div-->
                    </li>
                    {{/foreach}}
                    {{/get}}
                    
                </ul>

            </section>