<section id="ccr-article-related-post">
                <div class="ccr-gallery-ttile">
                        <span class="bottom"></span>
                        <p>Xem thêm</p>
                </div> <!-- .ccr-gallery-ttile -->
                <ul>
                        <li>
                            
                            <div class="ccr-thumbnail">
                                <img src="img/sports-thumb-4.jpg" alt="thumbnail-small-1.jpg">
                                <p><a href="#postlink">Read More</a></p>
                            </div>
                            <h5><a href="#">Lorem ipsum is simply dummy text...</a></h5>
                        </li>
                       
                    </ul>


            </section>