<div class="ccr-gallery-ttile">
    <span></span> 
    <p><strong>TIN HOT</strong></p>
</div> <!-- .ccr-gallery-ttile -->
<ul class="media-list mt-10">
  <li class="media" ng-repeat="post in hot_news" >
    <div class="media-left media-middle">
      <a href="{{post.url}}">
        <img class="media-object" ng-src="{{post.image}}" alt="{{post.title}}" style="width:64px">
      </a>
    </div>
    <div class="media-body">
      <p class="media-heading"><a href="{{post.url}}">{{post.title}}</a></p>
    </div>
  </li>
</ul>

<div class="ccr-gallery-ttile">
    <span></span> 
    <p><strong>BẠN ĐỌC CHƯA</strong></p>
</div> <!-- .ccr-gallery-ttile -->

<ul class="media-list mt-10">
  <li class="media" ng-repeat="post in old_news" >
    <div class="media-left media-middle">
      <a href="{{post.url}}">
        <img class="media-object" ng-src="{{post.image}}" alt="{{post.title}}" style="width:64px">
      </a>
    </div>
    <div class="media-body">
      <p class="media-heading"><a href="{{post.url}}">{{post.title}}</a></p>
    </div>
  </li>
</ul>

<div 

ng-repeat="ad in ads"
style="width:{{ad.width}}px;height:{{ad.height}}px;display: block;margin-bottom:10px;"
>
  <div ng-bind-html="ad.html | to_trusted">
    
  </div>
</div>