  <section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
        <nav class="top-menu">
          <ul class="left-top-menu">
            <!-- <li><a href="index.html">Home</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="contact.html">Contact</a></li> -->
          </ul><!-- /.left-top-menu -->

          <ul class="right-top-menu pull-right">
            <!-- <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Subscribe</a></li>
            <li>
              <form class="form-inline" role="form" action="#">
                <input type="search" placeholder="Search here..." required>
                  <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li> -->
          </ul> <!--  /.right-top-menu -->
        </nav> <!-- /.top-menu -->
      </div>
    </div>  
  </section> <!--  /#ccr-nav-top  -->


  
  <section id="ccr-site-title">
    <div class="container">
      <div class="site-logo">
        <a href="index.html" class="navbar-brand">
          <!-- <img src="img/logo.png" alt="Side Logo" /> -->
            <h1>Graph <span>News</span></h1> 
            <!-- <h3>The Daily News Source</h3> -->
        </a>
      </div> <!-- / .navbar-header -->

      <!--div class="add-space">
        728 x 90 px Banner
      </div--> <!-- / .adspace -->

    </div>  <!-- /.container -->
  </section> <!-- / #ccr-site-title -->



  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
                    <i class="fa fa-bars"></i>
                  </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><a class="active" href="index.html">HOME</a></li>            
            <li><a class="active" href="index.html">TIN SAO</a></li>
            <li><a class="active" href="index.html">XEM</a></li>
            <li><a class="active" href="index.html">NHẠC</a></li>
            <li><a class="active" href="index.html">SỐNG</a></li>
            <li><a class="active" href="index.html">ĐẸP</a></li>
            <li><a class="active" href="index.html">YÊU</a></li>
            <li><a class="active" href="index.html">CƯỜI</a></li>
            <li><a class="active" href="index.html">THỂ THAO</a></li>
            <li><a class="active" href="index.html">XÕA</a></li>
            <li><a class="active" href="index.html">HỌC</a></li>
            <li><a class="active" href="index.html">12 CHÒM SAO</a></li>
          </ul> <!-- /  .nav -->
        </div><!-- /  .collapse .navbar-collapse  -->

        <div id="currentTime" class="pull-right current-time">
          <i class="fa fa-clock-o"></i> 12:10 pm


        </div><!-- / #currentTime -->

      </div>  <!-- /.container -->
    </nav> <!-- /.main-menu -->
  </section> <!-- / #ccr-nav-main -->



  <section id="ccr-nav-below-main">
    <nav class="second-menu">
      <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
                    <i class="fa fa-bars"></i>
                  </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse ccr-nav-below-main">
          <!--ul class="nav navbar-nav">
            <li><a href="#">Europe</a></li>
            <li><a href="#">USA</a></li>
            <li><a href="#">Middle East</a></li>
            <li><a href="#">Social and IT</a></li>
            <li><a href="#">Culture</a></li>
          </ul--> <!-- /.nav /.navbar-nav -->
        </div>

        <!--div class="ccr-language">
          <ul> 
            <li>Language:</li>
            <li><a href="#"><img src="img/uk.png" alt="UK">English</a></li>
            <li><a href="#"><img src="img/france.png" alt="France">France</a></li><li>
            <a href="#"><img src="img/garman.png" alt="Garman">Garman</a></li>
          </ul>
        </div--> <!-- /.ccr-language -->
      </div><!-- /.container -->
    </nav><!-- /.second-menu -->
  </section><!-- / #ccr-nav-below-main -->